@import './variables.scss';

.dropbtn {
    background-color: $orange;
    color: white;
    padding: 5px;
    font-size: 1rem;
    border-radius: 3px;
    box-shadow: $shadow;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    position: absolute;
    margin-top: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s;
    background-color: $orange;
    box-shadow: $shadow;
}

.dropdown_content p {
    color: white;
    padding: 16px 8px;
    display: block;
    text-align: left;
}

.dropbtn:hover .dropdown_content {
    display: block;
    max-height: 150px;
}

.dropbtn:hover {
    background-color: rgb(202, 81, 0);
}